# Backup files don't belong under version control. They usually go in a single
# folder, but if there's an error in my config or I'm running -Q (both things
# that can happen when hacking on an Emacs config, oddly enough), these can
# wind up in here.
*~

# Byte-compiled files really don't belong in version control.
*.elc

# My auto-complete history is different between machines for a reason.
ac-comphist.dat

# The same goes for recent files.
recentf

# And Tramp's history/computed settings too.
tramp

# guess-style can leave a settings file floating around, and its contents vary
# from machine to machine.

guess-style

# Projectile is useful, but the details of what projects are on a given machine
# need not be saved.
projectile.cache

# Because I don't like storing binaries in git repos, ignore this.
# It holds Jedi's default virtualenv, IIRC.
.python-environments

# Behold: The pdf-tools package installs and builds binaries. Cool trick and
# all, but I don't want those in a repo that's meant to move from machine to
# machine, possibly across CPU architectures.
epdfinfo

# While backups of edited files are lovely to have, I don't want to commit them
# to this repo.
autosaves/

# I do not care about saving my game scores.
games/

# Similarly, I don't use dired (except by accident), so image-dired is of no
# interest to me.
image-dired/

# This is a binary blob that gets auto-downloaded. Doesn't belong in version
# control, IMO.
#
# ...especially given how rarely I touch Java these years.
eclipse.jdt.ls/

# Project analysis files are specific to the given machine this repo is checked
# out on.
.dap-breakpoints
.lsp-session-v1
projectile-bookmarks.eld

# Cache files aren't part of this project.
.cache/
url/
var/

# I don't see a reason to keep this generated file under version control.
network-security.data

# emacsqlite compiles a binary on-demand. Checking that in seems
# unwise, because not all computers are the same architecture.
elpa/**/emacsql-sqlite

# Do not commit build files for vterm package.
elpa/**/vterm-*/build/

# Do not commit generated .so files (which are built by things like vterm)
*.so

# Do not commit signature files for packages.
elpa/*.signed

# Forge is a great tool for working with git hosting systems. The data
# it stores locally is precisely a local cache and I do not want to commit it.
forge-database.sqlite
