# Backup files don't belong under version control. They usually go in a single
# folder, but if there's an error in my config or I'm running -Q (both things
# that can happen when hacking on an Emacs config, oddly enough), these can
# wind up in here.
*~

# Byte-compiled files really don't belong in version control.
*.elc

# My auto-complete history is different between machines for a reason.
ac-comphist.dat

# The same goes for recent files.
recentf

# And Tramp's history/computed settings too.
tramp

# guess-style can leave a settings file floating around, and its contents vary
# from machine to machine.

guess-style

# Projectile is useful, but the cache does not need to be saved.
projectile.cache

# Because I don't like storing binaries in git repos, ignore this.
# It holds Jedi's default virtualenv, IIRC.
.python-environments

# Behold: The pdf-tools package installs and builds binaries. Cool trick and
# all, but I don't want those in a repo that's meant to move from machine to
# machine, possibly across CPU architectures.
epdfinfo

# While backups of edited files are lovely to have, I don't want to commit them
# to this repo.
autosaves/

# emacsqlite compile a binary on-demand. Checking that in seems
# unwise, because not all computers are the same architecture.
elpa/emacsql-sqlite-20190727.1710/sqlite/emacsql-sqlite

forge-database.sqlite
