# -*- mode: snippet; require-final-newline: nil -*-
# name: context block
# key: cont
# --
context(`mocha-snippets-string-delimiter`${1: context}`mocha-snippets-string-delimiter`, `(mocha-snippets-function-declaration)` {
$0
});
